includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    level: max
    paths:
        - src
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    excludes_analyse:
        - src/Adapters/Phpunit/Printer
    ignoreErrors:
        - '#Parameter \#1 \$input of function str_pad expects string, int given.#'
        - '#Cannot call method addTheme\(\) on array|JakubOnderka\\PhpConsoleColor\\ConsoleColor#'
        - '#Method NunoMaduro\\Collision\\Adapters\\Laravel\\IgnitionSolutionsRepository::getFromThrowable\(\) should return array<int,#'
