name: Tests

on: ['push', 'pull_request']

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        php: [7.3, 7.4]
        dependency-version: [prefer-lowest, prefer-stable]

    name: PHP ${{ matrix.php }} ${{ matrix.dependency-version }}

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        tools: composer:v2 
        coverage: none

    - name: Setup Problem Matchers
      run: |
        echo "::add-matcher::${{ runner.tool_cache }}/php.json"
        echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

    - name: Install Dependencies
      run: composer update --${{ matrix.dependency-version }} --no-interaction --prefer-dist --no-progress

    - name: Run Unit Tests
      run: vendor/bin/phpunit
